@import "tailwindcss";

@theme {
    --color-primary: oklch(0.25 0.0749 260.78);
    --color-secondary: oklch(1 0.0045 258.32);
}

@utility board-sizing {
    @apply flex justify-center items-center size-full py-12
}

.board-sizing > img {
    height: 64px;
};

/* USING THE LONG WAY SINCE I WANT ROUNDED BORDERS */
@utility side-borders {
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        background: var(--color-secondary);
    }
}

@utility side-borders-bottom {
    &::before,
    &::after {
        height: 100%;
        width: 8px;
        border-radius: 0 0 4px 4px;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}
@utility side-borders-top {
    &::before,
    &::after {
        height: 100%;
        width: 8px;
        border-radius: 4px 4px 0 0;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

@utility side-borders-right {
    &::before,
    &::after {
        height: 8px;
        width: 100%;
        border-radius: 4px 0 0 4px;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}
@utility side-borders-left {
    &::before,
    &::after {
        height: 8px;
        width: 100%;
        border-radius: 0 4px 4px 0;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}